{% extends 'base.html' %}
{% load static %}
{% block name %}Гуртожиток 7{% endblock %}

{% block content %}
    <div class="wrapper" data-astro-cid-j7pv25f6>
        <div class="mt-[40px] flex justify-between" data-astro-cid-j7pv25f6>
            <ul class="floors" data-astro-cid-j7pv25f6>
                <li data-astro-cid-j7pv25f6>1 поверх</li>
                <li data-astro-cid-j7pv25f6>2 поверх</li>
                <li data-astro-cid-j7pv25f6>3 поверх</li>
                <li data-astro-cid-j7pv25f6>4 поверх</li>
                <li data-astro-cid-j7pv25f6>5 поверх</li>
                <li data-astro-cid-j7pv25f6>6 поверх</li>
                <li data-astro-cid-j7pv25f6>7 поверх</li>
            </ul>
            <div class="dormitory_number" data-astro-cid-j7pv25f6>Гуртожиток&nbsp№7</div>
        </div>
        <div class="flex-col items-center" data-astro-cid-j7pv25f6>
            <div class="mt-[30px]" data-astro-cid-j7pv25f6>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><p class="cell inline-block"
                                                                            data-astro-cid-j7pv25f6>1 клітка</p></div>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><img class="circuit mt-[20px] w-[100%]"
                                                                              alt="cell"
                                                                              src="{% static 'img/Group 322.svg' %}"
                                                                              data-astro-cid-j7pv25f6></div>
            </div>
            <div class="mt-[30px]" data-astro-cid-j7pv25f6>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><p class="cell inline-block"
                                                                            data-astro-cid-j7pv25f6>2 клітка</p></div>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><img class="circuit mt-[20px] w-[100%]"
                                                                              alt="cell"
                                                                              src="{% static 'img/Group 323.svg' %}"
                                                                              data-astro-cid-j7pv25f6></div>
            </div>
            <div class="mt-[30px]" data-astro-cid-j7pv25f6>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><p class="cell inline-block"
                                                                            data-astro-cid-j7pv25f6>3 клітка</p></div>
                <div class="flex justify-center" data-astro-cid-j7pv25f6><img class="circuit mt-[20px] w-[100%]"
                                                                              alt="cell"
                                                                              src="{% static 'img/Group 324.svg' %}"
                                                                              data-astro-cid-j7pv25f6></div>
            </div>
        </div>
        <div class="info h-[100px] w-[100%] rounded-[20px] mt-[40px] bg-white flex items-center"
             data-astro-cid-j7pv25f6>
            <div class="w-[1250px] h-[102px] pl-7 pr-[472px] py-[29px] bg-white rounded-[20px] justify-start items-start gap-[30px] inline-flex"
                 data-astro-cid-j7pv25f6>
                <div class="w-[230px] self-stretch p-2.5 bg-violet-50 rounded-[5px] flex-col justify-center items-start gap-2.5 inline-flex"
                     data-astro-cid-j7pv25f6>
                    <div class="justify-start items-center inline-flex" data-astro-cid-j7pv25f6>
                        <div class="w-6 h-6 bg-zinc-200 rounded-[5px]" data-astro-cid-j7pv25f6></div>
                        <div class="info__item" data-astro-cid-j7pv25f6>Місце зайняте</div>
                    </div>
                </div>
                <div class="self-stretch p-2.5 bg-violet-50 rounded-[5px] justify-start items-center inline-flex"
                     data-astro-cid-j7pv25f6>
                    <div class="w-6 h-6 bg-indigo-600 rounded-[5px]" data-astro-cid-j7pv25f6></div>
                    <div class="info__item" data-astro-cid-j7pv25f6>Місце вільне для хлопця</div>
                </div>
                <div class="self-stretch p-2.5 bg-violet-50 rounded-[5px] justify-center items-center inline-flex"
                     data-astro-cid-j7pv25f6>
                    <div class="w-6 h-6 bg-rose-500 rounded-[5px]" data-astro-cid-j7pv25f6></div>
                    <div class="info__item" data-astro-cid-j7pv25f6>Місце вільне для дівчини</div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}