{% extends 'swttlement/hostel.html' %}
{% load static %}

{% block bloc_one %}<img class="circuit mt-[20px] w-[100%]"
                         alt="cell"
                         src="{% static 'img/three_floor/Group 300.svg' %}"
                         data-astro-cid-j7pv25f6>{% endblock %}

{% block bloc_two %}<img class="circuit mt-[20px] w-[100%]"
                         alt="cell"
                         src="{% static 'img/three_floor/Group 286.svg' %}"
                         data-astro-cid-j7pv25f6>{% endblock %}
{% block bloc_three %}<img class="circuit mt-[20px] w-[100%]"
                           alt="cell"
                           src="{% static 'img/three_floor/Group 301.svg' %}"
                           data-astro-cid-j7pv25f6>{% endblock %}