{% extends 'swttlement/hostel.html' %}
{% load static %}

{% block bloc_one %}<img class="circuit mt-[20px] w-[100%]"
                         alt="cell"
                         src="{% static 'img/one_floor/Group 322.svg' %}"
                         data-astro-cid-j7pv25f6>{% endblock %}

{% block bloc_two %}<img class="circuit mt-[20px] w-[100%]"
                         alt="cell"
                         src="{% static 'img/one_floor/Group 323.svg' %}"
                         data-astro-cid-j7pv25f6>{% endblock %}
{% block bloc_three %}<img class="circuit mt-[20px] w-[100%]"
                           alt="cell"
                           src="{% static 'img/one_floor/Group 324.svg' %}"
                           data-astro-cid-j7pv25f6>{% endblock %}