*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before, :after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp, pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button, [role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle
}

img, video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;

}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;

    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;

}

.mt-\[20px\] {
    margin-top: 20px
}

.mt-\[30px\] {
    margin-top: 30px
}

.mt-\[40px\] {
    margin-top: 40px
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.h-6 {
    height: 1.5rem
}

.h-\[100px\] {
    height: 100px
}

.h-\[102px\] {
    height: 102px
}

.w-6 {
    width: 1.5rem
}

.w-\[100\%\] {
    width: 100%
}

.w-\[1250px\] {
    width: 1250px
}

.w-\[230px\] {
    width: 230px
}

.flex-col {
    flex-direction: column
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-2 {
    gap: .5rem
}

.gap-2\.5 {
    gap: .625rem
}

.gap-\[30px\] {
    gap: 30px
}

.self-stretch {
    align-self: stretch
}

.rounded-\[20px\] {
    border-radius: 20px
}

.rounded-\[5px\] {
    border-radius: 5px
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.bg-rose-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 63 94 / var(--tw-bg-opacity))
}

.bg-violet-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 243 255 / var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-zinc-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / var(--tw-bg-opacity))
}

.p-2 {
    padding: .5rem
}

.p-2\.5 {
    padding: .625rem
}

.py-\[29px\] {
    padding-top: 29px;
    padding-bottom: 29px
}

.pl-7 {
    padding-left: 1.75rem
}

.pr-\[472px\] {
    padding-right: 472px
}

body {
    color: #43433e;
    background: #F4F7FE;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif
}

.logo {
    vertical-align: middle;
    content: url(/static/img/logo.01d5d172.svg) !important;
    margin-left: 5em
}

.header[data-astro-cid-3ef6ksr2] {
    width: 100%;
    background-color: #fff
}

.header_wrapper[data-astro-cid-3ef6ksr2] {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header_logo[data-astro-cid-3ef6ksr2] {
    display: inline-block;
    content: url(/static/img/logo.01d5d172.svg)
}

.nav-item[data-astro-cid-3ef6ksr2] {
    display: inline-block;
    color: #a3aed0;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.3px;
    margin-right: 30px
}

.nav[data-astro-cid-3ef6ksr2] {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-item[data-astro-cid-3ef6ksr2]:last-child {
    margin-right: 0
}

.active[data-astro-cid-3ef6ksr2] {
    color: #2b3674
}

.footer[data-astro-cid-sz7xmlte] {
    width: 100%;
    height: 400px;
    margin-top: 180px;
    padding-top: 60px;
    background-color: #fff
}

.footer_wrapper[data-astro-cid-sz7xmlte] {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%
}

.footer_logo[data-astro-cid-sz7xmlte] {
    margin-left: 0;
    content: url(/static/img/logo.01d5d172.svg)
}

.title[data-astro-cid-sz7xmlte] {
    color: #2b3674;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px
}

.number[data-astro-cid-sz7xmlte] {
    margin-top: 20px;
    color: #a3aed0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -.3px
}

.number[data-astro-cid-sz7xmlte]:before {
    content: url(/static/img/phone.25db9f0c.svg);
    vertical-align: sub;
    margin-right: 12px
}

.nav-item[data-astro-cid-sz7xmlte] {
    margin-top: 30px;
    color: #a3aed0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.3px
}

.wrapper[data-astro-cid-j7pv25f6] {
    width: 90%;
    margin: 0 auto
}

.floors[data-astro-cid-j7pv25f6] li[data-astro-cid-j7pv25f6] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background: #fff;
    color: #2b3674;
    font-size: 16px;
    font-weight: 600;
    margin-right: 14px;
    font-family: Poppins, sans-serif
}

.floors[data-astro-cid-j7pv25f6] li[data-astro-cid-j7pv25f6]:first-child {
    background: #4318FF;
    color: #fff
}

.dormitory_number[data-astro-cid-j7pv25f6] {
    padding: 0 40px;
    border-radius: 5px;
    color: #2b3674;
    background: #fff;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -.48px
}

.info__item[data-astro-cid-j7pv25f6] {
    color: #2b3674;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px
}

.cell[data-astro-cid-j7pv25f6] {
    padding: 10px 20px;
    border-radius: 4px;
    background: #FFF;
    font-family: Poppins, sans-serif;
    color: #2b3674;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center
}

.card[data-astro-cid-dohjnao5] {
    background: #F4F7FE;
    border-radius: 10px;
    padding: 26px;
    color: #2b3674;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    font-family: Poppins, sans-serif
}

.card_btn[data-astro-cid-dohjnao5] {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    background: #4318FF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    min-height: 44px
}

.h2[data-astro-cid-dohjnao5] {
    font-size: 24px;
    letter-spacing: -.48px;
    margin-bottom: -10px
}

.h4[data-astro-cid-dohjnao5] {
    font-size: 16px;
    letter-spacing: -.32px
}

.description[data-astro-cid-dohjnao5] {
    color: #a3aed0;
    font-weight: 400;
    font-size: 13px;
    line-height: normal
}

.info[data-astro-cid-dohjnao5] {
    color: #a3aed0;
    font-weight: 500;
    font-size: 13px;
    line-height: normal
}

.phone[data-astro-cid-dohjnao5]:before {
    content: url(/static/img/phone.25db9f0c.svg);
    vertical-align: middle;
    margin-right: 12px
}

.address[data-astro-cid-dohjnao5]:before {
    content: url(/static/img/phone.25db9f0c.svg);
    vertical-align: middle;
    margin-right: 12px
}

.wrapper[data-astro-cid-ili6pcsu] {
    width: 90%;
    margin: 40px auto 0;
    border-radius: 20px;
    background: #FFF;
    padding: 48px
}

.selected_room[data-astro-cid-xb3inwvi] {
    width: 1250px;
    background-color: #fff;
    margin: 40px auto 20px;
    border-radius: 10px;
    padding: 26px;
    font-style: normal;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.48px;
    position: relative
}

.selected_room_btn[data-astro-cid-xb3inwvi] {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    background: #4318FF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    min-height: 44px;
    position: absolute;
    right: 26px;
    top: 26px
}

.room_data[data-astro-cid-xb3inwvi] {
    display: flex
}

.room_data_item[data-astro-cid-xb3inwvi] {
    width: 105px;
    margin-right: 50px;
    font-size: 16px;
    letter-spacing: -.32px;
    line-height: 30px;
    color: #a3aed0;
    text-align: center
}

.room_data_item[data-astro-cid-xb3inwvi] span[data-astro-cid-xb3inwvi] {
    color: #2b3674;
    line-height: 24px
}

.room_data_item[data-astro-cid-xb3inwvi] .female[data-astro-cid-xb3inwvi] {
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    background: #FF1A63;
    line-height: normal
}

.room_data_item[data-astro-cid-xb3inwvi] .male[data-astro-cid-xb3inwvi] {
    font-size: 11px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    background: #4318FF;
    line-height: normal
}

.files_body[data-astro-cid-xb3inwvi] {
    margin: auto;
    width: 1250px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 70px 265px;
    font-style: normal;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700
}

.form_wrapper[data-astro-cid-xb3inwvi] {
    display: flex;
    justify-content: space-between
}

.form_item[data-astro-cid-xb3inwvi] {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 20px
}

.form_item[data-astro-cid-xb3inwvi] > label[data-astro-cid-xb3inwvi] {
    line-height: 30px;
    letter-spacing: -.32px;
    text-transform: capitalize
}

.form_item[data-astro-cid-xb3inwvi] > input[data-astro-cid-xb3inwvi], .form_item[data-astro-cid-xb3inwvi] > select[data-astro-cid-xb3inwvi] {
    height: 50px;
    width: 330px;
    padding: 10px;
    font-weight: 500;
    letter-spacing: -.32px;
    border-radius: 5px;
    background: #F4F7FE
}

.title[data-astro-cid-xb3inwvi] {
    color: #2b3674;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -.72px;
    margin-bottom: 60px
}

.files_btn[data-astro-cid-xb3inwvi] {
    padding: 10px 200px;
    margin-top: 80px;
    background: #4318FF;
    border-radius: 4px;
    color: #fff
}